<template>
    <v-app>
        <v-app-bar>
            <AppBar />
        </v-app-bar>
        
        <SideNav />
    </v-app>
</template>

<script>

import AppBar from './AppBar';
import SideNav from './SideNav';

    export default {
        name: 'Dashboard',
        components: {
            AppBar,
            SideNav
        }
    }
</script>
