<template>
    <v-app>
        <dashboard-core-app-bar />
        <dashboard-core-app-drawer />
    </v-app>
</template>

<script>
// import Dashboard from './Dashboard.vue'
    export default {
        name: 'DashboardIndex',
        components: {
            DashboardCoreAppBar: () => import('./AppBar'),
            DashboardCoreAppDrawer: () => import('./Drawer'),
        },
        data : () => ({
            expandOnHover: false,
        })
    }
</script>