<template>
  <v-app>
    <v-card width="400" class="mx-auto mt-5">
      <v-card-title class="pb-0">
        <h1>Login</h1>
      </v-card-title>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
      <v-card-text>
        
          <v-text-field 
            label="Username" 
            prepend-icon="mdi-account-circle"
            required
            name="username"
            v-model="user.username"
            :rules="usernameRules"
          />
          <v-text-field 
            :type="showPassword ? 'text' : 'password'" 
            label="Password"
            prepend-icon="mdi-lock"
            append-icon="mdi-eye-off"
            @click:append="showPassword = !showPassword"
            required
            name="password"
            v-model="user.password"
            :rules="passwordRules"
          />

      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <!-- <v-btn color="success">Register</v-btn> -->
        <v-btn color="info" @click="validate" :disabled="!valid" :loading="loading">Login &nbsp;&nbsp; 
        </v-btn>
      </v-card-actions>
      </v-form>
    </v-card>
  </v-app>
</template>

<script>

//import axios from 'axios';
import User from '../../models/user';

export default {
    name: "Login",
    data() {
        return {
            user: new User('',''),
            valid: true,
            message:'',
            loading: false,
            showPassword: false,
            usernameRules: [
              v => !!v || 'Username is required',
            ],
            passwordRules: [
              v => !!v || 'Password is required',
            ]
        }
    },
    computed: {

      loggedIn() {
        return this.$store.state.auth.status.loggedIn;
      }

    },
    created(){
      if (this.loggedIn) {
        this.$router.push('/dashboard');
      }
    },
    methods: {
        async validate() {
            let valid = this.$refs.form.validate()

            if(valid) {
              
              if(this.user.username && this.user.password) {
                this.$store.dispatch('auth/login', this.user).then(
                  () => {
                    this.$router.push('/dashboard');
                  },
                  error => {
                    this.loading = false;
                    this.message =
                      (error.response && error.response.data) ||
                      error.message ||
                      error.toString();
                  }
                )
              }
            } else {
              console.log('not valid');
            }
            
        }
    }
}
</script>