<template>
  <v-app>
    <v-card width="400" class="mx-auto mt-5">
      <v-card-title class="pb-0">
        <h1>Login</h1>
      </v-card-title>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
      <v-card-text>
        
          <v-text-field 
            label="Username" 
            prepend-icon="mdi-account-circle"
            required
            name="username"
            v-model="username"
            :rules="usernameRules"
          />
          <v-text-field 
            :type="showPassword ? 'text' : 'password'" 
            label="Password"
            prepend-icon="mdi-lock"
            append-icon="mdi-eye-off"
            @click:append="showPassword = !showPassword"
            required
            name="password"
            v-model="password"
            :rules="passwordRules"
          />

      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <!-- <v-btn color="success">Register</v-btn> -->
        <v-btn color="info" @click="validate" :disabled="!valid" :loading="loading">Login &nbsp;&nbsp; 
        </v-btn>
      </v-card-actions>
      </v-form>
    </v-card>
  </v-app>
</template>

<script>

import axios from 'axios';


export default {
    name: "Login",
    data() {
        return {
            valid: true,
            username: '',
            password: '',
            loading: false,
            showPassword: false,
            usernameRules: [
              v => !!v || 'Username is required',
            ],
            passwordRules: [
              v => !!v || 'Password is required',
            ]
        }
    },
    methods: {
        async validate() {
            let valid = this.$refs.form.validate()

            if(valid) {
              this.loading = true;
              let data = JSON.stringify({
                "username": this.username,
                "password": this.password
              })
              var config = {
                  method: 'post',
                  url: 'http://localhost:4000/api/auth/login',
                  headers: { 
                      'Content-Type': 'application/json'
                  },
                  data : data
              };

              //await new Promise(resolve => setTimeout(resolve, 3000))

              axios(config)
              .then( (response) => {
                localStorage.setItem("token", response.token);
              })
                
              //   function (response) {
              //   // this.loading = false;
              //   // console.log(JSON.stringify(response.data));
              //   localStorage.setItem("token", response.token);
                
              // })
              .catch(function (error) {
                console.log(error);
              });

            } else {
              console.log('not valid');
            }
            
        }
    }
}
</script>