<template>
    <v-app>
        <v-card width="500" class="mx-auto mt-5">
            <v-card-title class="pb-0">
                <h3>Register User</h3>
            </v-card-title>

            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <v-card-text>
                    <v-text-field 
                        label="Fullname"
                        required
                        name="fullname"
                        v-model="user.fullname"
                        :rules="fullnameRules"
                    />

                    <v-text-field 
                        label="Email"
                        required
                        name="email"
                        v-model="user.email"
                        :rules="emailRules"
                    />


                    <v-text-field 
                        label="Username"
                        required
                        name="username"
                        v-model="user.username"
                        :rules="usernameRules"
                    />


                    <v-text-field 
                        label="Password"
                        required
                        name="password"
                        v-model="user.password"
                        :rules="passwordRules"
                    />

                    <v-select
                        v-model="level"
                        :items="levels"
                        item-text="state"
                        item-value="abbr"
                        label="Level"
                        persistent-hint
                        return-object
                        single-line
                    > </v-select>

                </v-card-text>

                <v-divider> </v-divider>

                <v-card-actions> 
                    <v-btn
                        color="primary"
                        @click="register"
                    >Register</v-btn>
                </v-card-actions>

            </v-form>
        </v-card>
    </v-app>
</template>

<script>
import User from '../../models/user';

export default {
    name: "Register",
    data() {
        return {
            user: new User('','','','',''),
            valid: true,
            message: '',
            usernameRules: [
                v => !!v || 'Username is required',
                v => (v && v.length => 5 ) || 'Username must be less than 5 characters',
            ],
            passwordRules: [
                v => !!v || 'Username is required',
            ],
            emailRules: [
                v => !!v || 'Email is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            fullnameRules: [
                v => !!v || 'Fullname is required',
                v => /^[a-zA-Z]+$/.test('sfjd') || 'Please type only aphabet',
            ],

            items: [
                { state: 'Admin', abbr: '1' },
                { state: 'Moderator', abbr: '2' },
                { state: 'User', abbr: '3' },
            ],

        }
    },
    methods: {
        register(){
            
        }
    }
}
</script>